*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav2{
  display: flex;
  height: 65px;
width: 100%;
background-color: white;
position: fixed;
gap: 20px;

}
#login{
  height: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 7px 20px;
  color: black;
  text-decoration: none;
  margin-left: 40%;

}
.signup{
  height: 20px;
 
background-color: green;
color: white;
border-radius: 10px;
border: 0px ;
padding: 8px 20px;
text-decoration: none;
}
#form{
  height: auto;
  width:30%;

 margin-left: 80px;
  margin-top: 8%;
  justify-content: center;
  padding: 20px 15px 30px 40px;
  border-radius: 15px;
  
}
input{
  width: 90%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  
  
}
h2{
 text-align: center;
}
h4{
  margin-bottom: 8px;
}
a{
  display: inline-block;
  width: 92%;
  height: 35px;
  border: 0px solid rgb(244, 241, 241);
  background-color: rgb(224, 220, 220);
  border-radius: 10px;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  padding-top: 15px ;
  text-decoration: none;
  
}
#submit{
  background-color: rgb(64, 133, 64);
  color: white;
  font-size: 20px;

}
.child{
  display: flex;
  gap: 200px;
}
.img{
  width: 300px;
  margin-top: 100px;
  text-align: center;
}